<div class="text label">
  Feladatsor
</div>
<a class="button no-margin-top" {{action 'generateSheet'}}>generálás</a>
<a class="button no-margin-top no-margin-left" {{action 'generateSheetSupplementary'}}>pót generálás</a>

{{demonstrator-group-data currentEventTemplate=currentEventTemplate events=events evaluateEvent=(action 'evaluateEvent')}}