{{#each-in (await separatedDeliverablesByExerciseType) as |exerciseCategory deliverables|}}
  {{evaluator/exercise-booked-group-data exerciseCategory=exerciseCategory body=deliverables changeDeliverable=(action 'changeDeliverable') showHighlight=false}}

{{else}}
    <div class="text">Nincs megjeleníthető beadandó.</div>
{{/each-in}}