<div class="text">
    Egy beadandó kiválasztása a <em>Javítandó kiválasztása</em> menüpontban lehetséges.
    <br>
    A javítás megkezdése a <em>Javítás</em> menüpontból érhető el.
    <br>
    A kijavított beadandók megtekintése a <em>Kijavított feladatok</em> menüpontból érhető el.
</div>