<div class="entry-test-creator">
  <div class="text label">Szöveg</div>
  {{input type="text" value=question.text placeholder="beugrókérdés szövege"}}

  <button type="button" class='save with-margin' {{action 'saveSettings'}}>Mentés</button>

  <button type="button" class="cancel with-margin" {{action 'closeSettings'}}>Mégse</button>
</div>
