<div class="text">
    Egy beadandó kiválasztása a <em>Javítandó kiválasztása</em> menüpontban lehetséges. <br> A javítás megkezdése illetve a kijavított beadandók megtekintése a <em>Javítás és kijavított feladatok</em> menüpontból érhető el.
</div>