<div class="content demonstrator">
  {{left-menu-routes title="Demonstrátor" subMenu=subMenu}}
  <div class="right">
    <div class="demonstrator">
      {{outlet}}
    </div>
  </div>
</div>


{{!-- {{demonstrator-student event=selectedEvent mode='demonstrator' cancel=(action 'cancel')}} --}}